<div class="jumbotron mt-4">
  <h1 class="display-4">LTI Seed App</h1>
  <p class="lead">This is a simple Javascript application, currently under development.</p>
  <hr class="my-4">
  <p>This Application serves as a placeholder, and will eventually implement an LTI 1.3 Tool/Platform.</p>
</div>
